   .success-message,
   .fail-message 
   		{ 
           display: none;
        }
   .input.success ~ .success-message{
   		display : block;
   }	
   .input.fail ~ .fail-message {
            display: block;
        }
        
* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.wrapper>div.inner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.PWedit{
    position: relative;
}
.pwlog{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pwlog img{
    width: 150px;
    height: 100px;
    padding-bottom: 30px;
    padding-right: 770px;    
}
.pwlog h1{
    font-size: 30px;
    margin-bottom: 30px;
}
.newpw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pwtag p{
	position: relative;
	top: 20px;
	right: 160px;	
}
#pwtag #p1{
	position: relative;
	right: 180px;
}
#pwtag p i{
	color: red;
}
.newpw input{
    width: 450px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px;
    margin: 30px;
    font-size: 15px;
    padding-left: 15px;
}
.newpw input:focus{
	outline: 1px solid lightgrey;
	}
.newpw button{
    width: 455px;
    height: 50px;
    margin: 30px;
    align-items: center;
    border: none;
    border-radius: 10px 10px;
    background-color: #ffe9b1;
    font-size: 17px;
    font-weight: bold;
    color : #E27C5E    
}
@media screen and (max-width: 1420px) {
.inner {
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
    }
}
@media screen and (max-width: 1240px) {
    .wrapper > div.inner {
        display: block;
    }
    .PWedit{
    width: 100%;
    height: 105px;
    margin-bottom: 15px;
    }
    .pwlog{
        position: unset;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .pwlog a{
        margin-bottom: 0;
    }
    .newpw{
        position: relative;
        top: 100px;
    }
    .newpw input button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .inner {
        padding: 0 20px;
    }
    .pwlog img{
        width: 250px;
    }
    .pwlog h1{
        font-size: 30px;
    }
    .newpw input{
        width: 100%;
    }
    .newpw button{
        width: 105%;
    }
}