   .success-message,
   .fail-message,
   .NNNNN-message,
   .NNNNY-message { 
           display: none;
           position: relative;           
           left: 29px;               
        }
   .input.success ~ .success-message{
   		display : block;
   		color:green;
        font-size: 12px;
        margin-top: -20px;
        
        
   }	
   .input.fail ~ .fail-message {
            display: block;
            color : red;
            font-size: 12px;
        	margin-top: -20px  
        }
   .input.NNNNY ~ .success-message{
   		display : block;
   		color:green;
        font-size: 12px;
        margin-top: -20px   
   }	   
   .input.NNNNN ~ .NNNNN-message{
   		display : block;
   		color : red;
        font-size: 12px;
        margin-top: -20px  
   }
   .input.NNNNN ~ .success-message{
   		display : none;
   		color:green;
        font-size: 12px;
        margin-top: -20px   
   }
   .preview{
   		border-radius : 50%;
   		border:1px black solid transparent;
   }
   .preview.preview-hover:hover{
    	opacity : 0.5;
   }
   
 * {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.wrapper>div.inner {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.profile-change{
    position: relative;
}
.profileH{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.profileH img{
    width: 150px;
    height: 100px;
    padding-bottom: 50px;
    padding-right: 1000px;
    object-fit:cover;
}
.profileH h1{
	position: relative;
/* 	left: 600px; */
	left: 43%;
/*     font-size: 35px; */
    margin-top: 80px;
    margin-bottom: 20px;

}
.profileT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileT form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 #editT{
 	display: flex;
    flex-direction: column;
    justify-content: center;
/*     align-items: center; */
}
 
form img{
    width: 120px;
    height: 120px;
    border-radius: 50%;   
    object-fit:cover;
}
form label{
	position: relative;
	top:20px;
right: -20px;
}

form label i{
	color: red;
}

form #btn-top{
	margin-top: 15px;
	background: none;
	outline: none;
	border: none;
}
#btn-top:hover{
	cursor: pointer;
}

form span{
	position: relative;
	bottom: 20px;
    left: 420px;
}
form #PT{
	display: flex;
	flex-direction: row;
}
#PT p{
	position: relative;
	bottom: 41px;
	left: 200px;
	margin-left: 12px;
	margin-right: 12px;
} 

.profileT input{
    width: 450px;
    height: 50px;
    border: 1px solid lightgrey;
    border-radius: 10px 10px;
    margin: 30px;
    font-size: 15px;
    padding-left: 15px;
}
.profileT input:focus{
    outline: 1px solid lightgrey;
}
.profileT #btn-profile{
    width: 455px;
    height: 50px;
/*     margin: 10px; */
    align-items: center;
    border: none;
    border-radius: 10px 10px;
    background-color: #ffe9b1;
    font-size: 17px;
    font-weight: bold;
    color : #E27C5E
}
.profileT textarea{
    width: 455px;
    height: 150px;
    margin: 20px;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px 10px;
    font-size: 14px;  
    padding: 10px;
/*     padding-top: 5px; */
}
.profileT textarea:focus{
    outline: 1px solid lightgrey;
}
.Pnick{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1420px) {
.inner {
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
    }
}
@media screen and (max-width: 1240px) {
    .wrapper > div.inner {
        display: block;
    }
    .profile-change{
    width: 100%;
    height: 105px;
    margin-bottom: 15px;
    }
    .profileH{
        position: unset;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    h1{
    	position: unset;
    	padding-right: 1000px; 
    	font-size: 10px;
    }
    .profileH a{
        margin-bottom: 0;
    }
    .profileT{
        position: relative;
        top:110px;
    }
    .profileT input button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .inner {
        padding: 0 20px;
    }
    .profileH img{
        width: 250px;
    }
    .profileH h1{    	
        font-size: 30px;
    }
    .profileT input{
        width: 100%;
    }
    .profileT button{
        width: 105%;
    }
}