
* {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}
.morebtn{
    display: none;
} 
li {
    list-style: none;
}
.inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}
.sideW {
    display: flex;
    gap: 50px;
    flex: 1;
    justify-content: space-between;
}
.wrapper > div.inner{
    display: flex; 
    gap: 50px;
    justify-content: space-between;
}
.header{
    flex-shrink: 0;
    width: 300px;
    height: 800px;
}
.header1{
    position: fixed;
    top: 20px;
    width: 300px;
    height: 800px;
    box-sizing: border-box;
}
.header1 h1 {
    margin-bottom: 30px;
}
.logo{
    position: relative;
}
.logo img {
    width: 160px;
}

.header3{
    position: fixed;
    z-index: 999;
    top: -10px;
    padding-top: 30px;
    right: 35%;
    width: 650px;
    height: 200px;
    box-sizing: border-box;   
    background-color: #ffffff;
}
.header3 .home-title{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    color: #18253D;
    font-size: 20px;
    font-weight: bold;
    
}

.set-area-banner.hide {
	display: none;
}

.set-area-banner {
	width: 100%;
	border: 1px solid #18253D;
	border-radius: 6px;
	color: #18253D;
	background-color: white;
	position: relative;
	margin-top: 30px;
	cursor: pointer;
}

.banner-title {
	display: block;
}

.exp1 {
	font-size: 14px;
	margin: 10px;
}

.exp2 {
	font-size: 16px;
	font-weight: bold;
	margin: 10px;
}

.ic-go {
	position: absolute;
	padding: 0.5em;
	top: 10%;
	right: 0;
}

.home-title {
	margin-top: 30px;
	color: #18253D;
	font-size: 20px;
	font-weight: bold;
}

.title-nickname #nickname1{
	color: #E27C5E;
	float: left;
}

.filter-btn {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
}

.label {
	border: none;
	width: auto;
	height: 30px;
	font-weight: bold;
	border-radius: 4px;
	font-size: 16px;
	padding: 0.5em 1em;
	margin: 10px;
	margin-left: 0;
	background-color: #FBE9DD;
	color: #E27C5E;
	text-align: center;
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.label-selected {
	background-color: #E27C5E;
	color: white;
}

 .review-list {
	width: 600px;
} 
.no-review {
	margin-top: 100px;
	text-align: center;
	color: gray;
}

.list-item {
	margin-top: 40px;
}

.review-write-info {
	display: flex;
	flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.info-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
}

.sub-info-text {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	color: #707070;
	margin-top: 3px;
}

.writer-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.writer-nick {
	font-weight: bold;
}

.write-time {
	margin-left: 10px;
}

.place {
	font-weight: bold;
	font-size: 18px;
}

.address {
	color: #707070;
	margin-top: 3px;
}

.loca-div {
	display: flex;
	flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.loca-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    padding: 5px;
}

.place {
	font-weight: bold;
	font-size: 18px;
}

.address {
	color: #707070;
}

.img-div {
	position: relative;
	width: 300px;
}

.thumbnail {
	width: 400px;
	height: 400px;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 6px;
}

.img-more {
	position: absolute;
	width: 60px;
	height:60px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 4px;
	color: white;
	bottom:0;
	left:340px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.img-more-none {
	display: none;
}

.more-ic {
	margin-right: 5px;
}

.review-action {
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #707070;
    margin-top: 20px;
}

.score-ic {
	color: #FFC107;
	margin-right: 5px;
}

.like-ic {
	cursor: pointer;
	margin-right: 5px;
}

.like-ic > .fa-solid {
	color: #E27C5E;
}

.reply-ic {
	margin-right: 5px;
}

.bookmark-ic {
	margin-left: 350px;
	cursor: pointer;
}

.content p {
	display: inline;
}

.review-main {
	width: 600px;
	white-space: nowrap;
	overflow: hidden;
	word-break: break-all;
	text-overflow: ellipsis;  /* 말줄임 적용 */
}

.sidemenu {
    padding-left: 15px;
    box-sizing: border-box;
    margin-bottom: 150px;
}
.sidemenu #sideP{
    position: relative;
    bottom: 40px;
}
#sideP #img1{
    position: relative;
    top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#sideP .level-img{
	position: relative;
	width: 30px;
	top: 7px;
}

#mainicon img{
            position: relative;
            top: 15px;
            margin-right: 10px;
            width: 45px;
        }
#sideP li{
    font-size: 17px;
    font-weight: bold;
}

.sidemenu ul > li > a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.sidemenu ul > li + li{
    margin-top: 15px;
}
.review {
    display: block;
    margin-left: 15px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    background: #e27c5e;
    border-radius: 30px;
}
.logout {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 60px;
}
#logoutimg{
    width: 30px;
    position: relative;
}
.sidebar{
    width: 300px;
}
.sidebar .random{
    position: fixed;
    top: 50px;
    width: 300px;
    height: 800px;
    box-sizing: border-box;
}

/* 슬롯머신 시작 */

.slot_container {
    width: 100px;
    height: 50px;
    overflow: hidden;
  }
  
  .menu_slot {
    position: absolute;
    top: 50%;
  }
  
  @keyframes slide {
    0% {
      margin-top: 0;
    }
    10% {
      margin-top: -50px;
    }
    20% {
      margin-top: -100px;
    }
    30% {
      margin-top: -150px;
    }
    40% {
      margin-top: -200px;
    }
    50% {
      margin-top: -250px;
    }
    60% {
      margin-top: -300px;
    }
    70% {
      margin-top: -350px;
    }
    80% {
      margin-top: -400px;
    }
    90% {
      margin-top: -450px;
    }
    100% {
      margin-top: -500px;
    }
  }
  
  .slide_box {
    width: 100px;
    height: 50px * 5;
    animation: slide 2.0s infinite;
    color: black;
  }
  
  .slide_box li {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .container {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 350px;
  }
  
  .receipt {
    width: 100%;
    height: 80%;
    display: flex;
    border-radius: 10%;   
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: relative;
  }
  
  .receipt .title_text {
    border-bottom: 1px dashed black;
    width: 100%;
    text-align: center;
  }
  
  .receipt .title_text h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .receipt .title_text h3 {
      margin-top: 10px;
      margin-bottom: 15px;
  }
  
  
  em {
    display: inline-block;
    width: 78px;
    height: 21px;
    text-align: left;
    position: absolute;
    right: 5px;
  }
  
  .menu_print {
    position: absolute;
    top: 55%;
    font-size: 20px;
    color: black;
    transition: 0.5s;
  }
  
  .btn_area {
    position: absolute;
    bottom: 50px;
  }
  
  body:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }
  .btn_area button {
    background: gray;
    color: #fff;
    border: none;
    position: relative;
    height: 30px;
    font-size: 1.0em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
  }
  .btn_area button:hover {
    background: #fff;
    color: black;
  }
  .btn_area button:before,
  .btn_area button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }
  .btn_area button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .btn_area button:hover:before,
  .btn_area button:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }

/* 슬롯머신 끝 */

.follow h3 {
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.follow ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
}
#follow1{
    position: relative;
    border-top: 1px dotted black;
    font-size: 17px;
    text-align: center;
    white-space: normal;
    top: 120px;  
}
.feed{
    flex: 1;
    position: relative;
    top: 180px;
}


.level-img {
 		width:24px;
 		margin:0;
 		margin-left: 5px;
 	}
 	
 	.nick-lev {
 		display: flex;
 		align-items:center;
 	}
 	
 	.thumbnail {
 		object-fit:cover;
 	}
 	.writer-avatar{
 		border-radius: 50%;
 	}
 		#sideP {
 		cursor: pointer;
 	}

 	.origin{
		width:50px;
		hight:50px;
	}

	.follow-ul img{
		border-radius: 50%;
	}
 .footer{
		
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50px;
            background: fixed;
            background-color: white;       
	}

@media screen and (max-width: 1420px) {
    .inner {
        width: 100%; 
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media screen and (max-width: 1240px) {
    .wrapper > div.inner {
        display: block;
    }
    .header {
        width: 100%;
        height: 105px;
        margin-bottom: 15px;
    }
    .feed {
        width: 100%;
    }
    .review {
        display: none;
    }
    .header1 {
        position: unset;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .header1 h1 {
        margin-bottom: 0;
    }
    .sidebar .random {
        position: relative;
    }
    .logout {
        position: unset;
    }
    .sidemenu {
        margin-bottom: 0;
        padding-left: 0;
    }
    .sidemenu > ul > li {
        display: inline-block;
    }
    .sidemenu ul > li + li {
        margin-top: 0;
        margin-left: 15px;
    }
    .sidebar {
        width: 200px;
    }
    .sidebar .random {
        width: auto;
    }
    .sideW {
        gap: 20px;
    }
}
@media screen and (max-width: 768px) {
    .inner {
        padding: 0 10px;
    }
    .sidebar {
        display: none;
    }
    .sidemenu {
        display: none;
    }
    .btnW {
        display: flex;
        align-items: center;
    }
    .morebtn{
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
        margin-left: 30px;
    }
    .morebtn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 2px;
        background: #000;
    }
    .morebtn::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
    }
    .morebtn span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #000;
        text-indent: -9999px;
        font-size: 0;
        
    }
}

