/* 리뷰 관련 style */
	.level-img {
 		width:24px;
 		margin:0;
/*  		margin-left: 5px; */
 	}
 	
/* summernote(좌측), 리뷰장소(우측) 구분용 style */
	.float-container {
		width: 850px;
	}
    .float-container::after {
        content: "";        /* 영역에 들어갈 글자 */
        display: block;   /* block형태 공간 */
        clear: both;
    }
    .float-left {
        float: left;
        width: 50%;
    }
    .clear {
        clear: both;
    }
    
    .reviewBox {
    	width: 450px;
    	border: 1px solid gray;
    	border-radius: 5px;
    }

/* 댓글목록 관련 style */
	.lastHr {
	
	}
	.replyList {
		margin-bottom: 10px;	
	}
	.replyBox {
		width: 450px;
	}
	.replyListHead {
		margin-bottom: 20px;
		font-size: 14px;
	}
	.replyListBody {
		text-align: center;
	}
	.profile {
		width: 50px;
		height : 50px;
	}
	.replyContent {
		width: 620px;
		border: 1px solid transparent;
		border-radius: 5px;
		outline: none;
		padding: 4px;
		margin-bottom: 10px;	
	}
	.input-reply {
		border: none;
		width: 100%;
		padding-top: 10px;
		padding-left: 5px;
	}
	.input-reply:focus{
		outline: none;
	}
	
* {
    margin: 0;
    padding: 0;
}

.logo {
	width: 8%;
	margin-left: 30px;
	margin-right: 10px;
}
.reviewWriter-memNick{
	position: relative;
	bottom: 20px;
	font-size : 17px;
}
.level-img{
	position: relative;
	bottom: 15px;
}

.reviewMem{
	margin-right: 700px;
	width: 200px;
}
.reviewMem:hover{
	cursor: pointer;
}
.reviewWriter{
	position: relative;
	display: flex;
	align-items: center;
	top: 0px;
}

.follow {
	margin-left: 20px;
	position: relative;
	bottom: 20px;
    color: #0095f6;
    cursor: pointer;
}
.profile{
	border-radius: 50%;
}
.btn-reply-delete{
	border: none;
	outline: none;
	color: red;
	background: none;
}
.btn-reply-delete:hover{
	cursor: pointer;
}
.replyMem{
	position: relative;
	top: 20px;
}
.replyMem span{
	position: relative;
	bottom: 20px;
	margin-left: 10px;
}
.btn-report{
	border: none;
	background: none;
	outline: none;
	color: blue;

} 
.btn-report:hover{
	cursor: pointer;
}
.btn-reply-report{
	border: none;
	background: none;
	color: blue;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}
.morebtn{
    display: none;
} 
li {
    list-style: none;
}
.inner {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}

.wrapper > div.inner{
    display: flex; 
    gap: 50px;
    justify-content: space-between;
}
.Rdetail{
    position: relative;
}
.Rhead{
   position: relative;
}
 .Rhead a img{
    width: 100%;
} 


.Rhead .Rhead2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.Rhead2 li{
    position: relative;
    right: 100px;
    bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.info-action {
	width: 200px;	
	text-align: right;
}

.info-action #Rdelete{
	color: red;	
}
.info-action #Rupdate{
	color: blue;
}
.Rbody{
    position: relative;
    flex-shrink: 0;
    vertical-align: top;
    width: 650px;
    height: 650px;   
    overflow: hidden;
    /* border-left: 4px solid rgb(255,192,98);
    border-top: 4px solid rgb(255,192,98);
    border-bottom: 4px solid rgb(255,192,98); */
}
.Rbody img{
    width: 100%;
    height: 650px;
    object-fit:cover;
}
.swiper-button-prev{
            color: white;
            font-weight: bold;
}
.swiper-button-next{
    color: white;
    font-weight: bold;
}
.swiper-pagination-bullet-active{
    background: white;
    width: 10px;
    height: 10px;
}
.LReview {
	border: 1px solid gainsboro;
	margin-bottom: 10px;
}
.LMap{
    position: relative;
    width: 100%;
    /* height: 450px; */
    /* border-top: 1px solid gainsboro; */
    /* border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
    margin: 10px;  
}
.LMap ul li label{
	font-weight: bold;
}
.LMap input{
	width: 500px;
	height: 30px;
	border: none;
	outline: none;
	margin-top: 5px;	
}
.LMap img{
    width: 380ps;
    height: 380px;
}
.LMap-star {
	width: 100%;
    /* height: 450px; */
    /* border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro; */
    margin: 10px;  
}
.LMap-map {
	width: 100%;
    /* height: 450px; */
    /* border-top: 1px solid gainsboro;
    border-right: 1px solid gainsboro; */
    /* border-bottom: 1px solid gainsboro; */
    margin: 10px;  
}
.Ltext{
	position: relative;
	bottom: 5px;
	/* border-right:1px solid gainsboro; */
	/* border-bottom:1px solid gainsboro; */
    width: 100%;
    /* height: 200px;  */
    padding-top: 10px;
    padding-left: 5px;
}
.Ltext ul li{
    margin-top: 5px;
    margin-left: 5px;
}
.Lreply{
    position: relative;
    width: 100%;
    height: 70px;
}
.Lreply ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.Lreply li{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.Licon{
	border: 1px solid gainsboro;
	border-radius: 20px;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
    margin-top: 10px;
}
.Licon i{
	font-size: 20px;
}
.Licon ul{
    display: flex;
    flex-direction: row;
}
.Licon li{
    margin-left: 10px;
    margin-right: 10px;
}
.Lwrite{
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid black;
}
.Lwrite input{
    width: 500px;
    height: 25px;
    border: 0;
    outline: none;
    padding-left: 10px;
}
      
.Lwrite button{
    position: absolute;
    left: 92%;
    top: 60%;
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    background-color: white;
    color: #0095f6;
    cursor: pointer;
}
.bodyWrap {
    display: flex;
    justify-content: center;
}
.Lbody {
    width: 550px;
    overflow-x:hidden; 
    width:650px; 
    height:650px;
    /* padding: 10px; */
    margin: 10px;
    /* border: 4px solid rgb(255,192,98); */
}
.btn-reply-Write{
	position: absolute;
	top: 45px;
	left: 515px;
	border: none;
 	outline: none;
    background-color: white;
    color: #0095f6;
    cursor: pointer;
}
@media screen and (max-width: 1400px) {
    .inner {
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .Rbody {
        width: 450px;
    }
    .Lbody {
        width: 500px;
    }
}
@media screen and (max-width: 1024px) {
    .bodyWrap {
        display: block; 
    }
    .Rbody {
        width: 500px;
        height: 400px;
        margin: 0 auto;
    }
    .Lbody {
        width: 500px;
        margin: 0 auto;
    }
}	