<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin-email">

	<select id="sequence" resultType="int">
		select notice_email_seq.nextval from dual
	</select>
	
	<insert id="send" parameterType="NoticeEmailDto">
		insert into notice_email(
				email_no, email_subject, 
				email_content)
		values(
				#{emailNo}, #{emailSubject},
				#{emailContent})
	</insert>
	
	<select id="one" parameterType="int" resultType="NoticeEmailDto" >
		select*from notice_email where email_no=#{emailNo}
	</select>
	
	<select id="list" resultType="NoticeEmailDto" parameterType="ListSearchVO">
		            select * from (  
							   select rownum rn, TMP.* from (  
                                    select * from notice_email
								   order by email_no desc
							   )TMP  
                        ) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="search" resultType="NoticeEmailDto" parameterType="ListSearchVO">
                        select * from (  
							   select rownum rn, TMP.* from (  
                                    select * from notice_email where instr(email_subject,#{keyword})>0
								   order by email_no desc  
							   )TMP  
                        ) where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="emailList" resultType="MemEmailVO">
		select mem_email from mem
	</select>
	
	<select id="listCount" resultType="int">
		select count(*) from notice_email
	</select>
	
	<select id="searchCount" resultType="int" parameterType="ListSearchVO">
		select count(*) from notice_email where instr(email_subject, #{keyword})>0
	</select>
	
	<delete id="delete" parameterType="int">
		delete notice_email where email_no=#{emailNo}
	</delete>
	

</mapper>