<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="area">
	<!-- 지역 정보 목록 조회 -->
	<select id="list" resultType="AreaDto">
		select * from areas order by area_no
	</select>
	
	<!-- 관심지역 등록 -->
	<insert id="add-interest" parameterType="InterestAreaDto">
		insert into interest_areas(area_no, mem_no)
		values(#{areaNo}, #{memNo})
	</insert>
	
	<!-- 관심지역 목록 조회 -->
	<select id="list-interest" parameterType="int" resultType="InterestAreaVO">
		select I.mem_no, A.* from interest_areas I 
		inner join areas A on I.area_no = A.area_no 
		where I.mem_no = #{memNo}
	</select>
	
	<!-- 관심지역 설정 개수 조회 -->
	<select id="count-interest" parameterType="int" resultType="CntInterestAreaVO">
		select 
		    mem_no, 
		    nvl(count(area_no), 0) count
		from
		(select M.mem_no, A.* from mem M 
		left outer join interest_areas I on M.mem_no = I.mem_no
		left outer join areas A on I.area_no = A.area_no
		where M.mem_no = #{memNo})
		group by mem_no
	</select>
	
	<!-- 관심지역 삭제 -->
	<delete id="delete-interest" parameterType="InterestAreaDto">
		delete interest_areas where mem_no = #{memNo} and area_no = #{areaNo}
	</delete>
</mapper>