<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<insert id="insert" parameterType="FollowDto">
		insert into 
			follow
				(follow_no, active_mem_no,passive_mem_no) 
			values
				(follow_seq.nextval,#{activeMemNo},#{passiveMemNo})
				 
	</insert>
	<delete id="delete" parameterType="FollowDto">
		delete 
		from 
			follow 
		where 
			active_mem_no =#{activeMemNo} and passive_mem_no=#{passiveMemNo}	
	</delete>
	<select id="count" parameterType="int" resultType="int">
		select
			 count(*) 
		from 
			follow 
		where 
			active_mem_no=#{activeMemNo} and passive_mem_no=#{passiveMemNo}
	</select> 
	<!-- 팔로워수 -->
	<select id="follower" parameterType="int" resultType="int">
	select
		 count(passive_mem_no)
	from 
	 	follow 
	where 
		passive_mem_no=#{memNo}
	</select>
	<!-- 팔로잉수 -->
	<select id="following" parameterType="int" resultType="int">
	select 
		count(active_mem_no) 
	from 
		follow 
	where 
		active_mem_no=#{memNo}
	</select>
	<!-- 게시물수 --> 
	<select id="reviewcount" parameterType="int" resultType="int">
	select 
		count(review_no)
	from 
		review 
	where 
		mem_no=#{memNo}
	</select>
	<!-- 내가 팔로우한 (팔로우) -->
	<select id="followmem" parameterType="FollowMemDto" resultType="FollowMemVO">
	   select
    mem_no,
    mem_nick,
    attach_no,
    mem_level,
    decode(follow_no,null,'false','true') follow_check
    from
    (select
	    M.mem_no mem_no,
    	M.mem_nick mem_nick,
    	PA.attach_no attach_no,
    	M.mem_level
	from(
		select passive_mem_no from follow where active_mem_no=#{memNo}) F
	left outer join mem M on F.passive_mem_no=M.mem_no
	left outer join profile_attach PA on F.passive_mem_no=PA.mem_no) FF
    left outer join (select * from follow where active_mem_no=#{memLogin}) FFF
    on FF.mem_no=FFF.passive_mem_no
	</select>
	<!-- 나를 팔로우한 (팔로워) -->
	<select id="followermem" parameterType="FollowMemDto" resultType="FollowMemVO">
	    select
    mem_no,
    mem_nick,
    attach_no
    mem_level,
    decode(follow_no,null,'f인alse','true') follow_check
    from 
    (select
    	M.mem_no mem_no,
    	M.mem_nick mem_nick,
    	PA.attach_no attach_no,
    	M.mem_level
	from(
		select active_mem_no from follow where passive_mem_no=#{memNo}) F
	left outer join mem M on F.active_mem_no=M.mem_no
	left outer join profile_attach PA on F.active_mem_no=PA.mem_no) FF
    left outer join (select * from follow where active_mem_no=#{memLogin}) FFF
    on FF.mem_no=FFF.passive_mem_no
	</select>
</mapper>