<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myprofile">

	<select id="profile"  parameterType="int" resultType="MyprofileDto">
	select 
		P.attach_no,M.*
	from
    	profile_attach P
	inner join 
    	mem M
	on 
		P.mem_no=M.mem_no
	where 
		M.mem_no= #{mem_no}
	</select>
	<!--회원당 게시물 번호-->
	<select id="reviewCnt" parameterType="int" resultType="int">
		select
			count(*)
		from 
			review
		where 
			mem_no=#{memNo}
	</select>
	<!-- 한 회원의 리뷰 정보를 가지고 온다.  --> 
	<select id="review" parameterType="int" resultType="ReviewDto">
		select 
			* 
		from 
			review 
		where
			mem_no=#{memNo}
	</select>
	<!-- 북마크 --> 
	<select id="bookmark" parameterType="int" resultType="BookmarkDto">
		select 
			* 
		from 
			bookmark 
		where
			 mem_no=#{mem_no}
	</select>
	<!-- 좋아요 -->
	<select id="like" parameterType="int" resultType="LikeDto">
		select 
			* 
		from 
			likes 
		where
			 mem_no=#{mem_no}
	</select>

</mapper>