<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myprofile">

	<select id="profile"  parameterType="int" resultType="MyprofileDto">
	select 
		P.attach_no,M.*
	from
    	profile_attach P
	inner join 
    	mem M
	on 
		P.mem_no=M.mem_no
	where 
		M.mem_no= #{mem_no}
	</select>
	<!--회원당 게시물 번호-->
	<select id="reviewCnt" parameterType="int" resultType="int">
		select
			count(*)
		from 
			review
		where 
			mem_no=#{memNo}
	</select>
	<!-- 한 회원의 리뷰 정보를 가지고 온다.  --> 
	<select id="review" parameterType="int" resultType="ReviewDto">
		select 
			* 
		from 
			review 
		where
			mem_no=#{memNo} 
	</select>
	<!-- 북마크 --> 
	<select id="bookmark" parameterType="int" resultType="ProfileBookmarkVO">
		select
    		B.*,R.like_cnt
		from
    		bookmark B
		inner join
    		review R
		on
			B.review_no=R.review_no
		where 
			B.mem_no=#{memNo}
		order by B.bookmark_time
	</select>
	<!-- 좋아요 -->
	<select id="like" parameterType="int" resultType="ProfileLikeVO">
		select 
    		L.*,R.like_cnt 
		from 
    		likes L
		left outer join 
    		review R
		on
			L.review_no=R.review_no
		where 
			L.mem_no=#{memNo}
	</select>
	<!-- 리뷰당사진갯수 -->
	<select id="photocnt" parameterType="int" resultType="int">
		select
	 		count(*)
	 	 from 
	 	 	review_attach 
	 	 where 
	 	 	review_no={reviewNo}
	</select>
	<select id="memprofile" parameterType="int" resultType="ProfileMemVO">
		select
        	distinct
        	M.mem_no,
        	M.mem_nick,
        	M.mem_intro,
        	M.mem_level,
        	M.mem_point,
        	coalesce(RC.cnt, 0) review_cnt,
        	coalesce(FP.cnt2, 0) follow_cnt,
        	coalesce(FT.cnt3, 0) follower_cnt,
        	PA.attach_no
        
    	from (
    		 select * from mem where mem_no=#{memNo})M 
    left outer join review R on M.mem_no=R.mem_no
    left outer join(
    		select 
    			mem_no,count(mem_no) cnt
    		 from 
    		 	review
    		 group by mem_no
    )RC on M.mem_no=RC.mem_no
    left outer join(
        select
            passive_mem_no ,count(passive_mem_no)cnt2
        from 
            follow 
        group by passive_mem_no)
        FP on M.mem_no=FP.passive_mem_no
    left outer join(
        select 
            active_mem_no, count(active_mem_no) cnt3
        from 
            follow 
        group by active_mem_no
    ) FT on M.mem_no=FT.active_mem_no
    left outer join profile_attach PA on M.mem_no=PA.mem_no
	</select>
	<select id="reviewlist" parameterType="int" resultType="ReviewListVO">
	select
    M.mem_no,
    R.review_no,
    R.like_cnt,
    R.review_report_cnt,
    coalesce(RA.rc, 0) img_cnt,
    coalesce(RP.rcn, 0) reply_cnt
		from 
		(select * from mem where mem_no=#{memNo}) M
	left outer join review R on M.mem_no=R.mem_no
	left outer join 
		(select review_no,count(review_no) rc from review_attach group by review_no
	) RA on R.review_no=RA.review_no
	left outer join 
	(select review_no,count(review_no) rcn from reply group by review_no) RP on R.review_no=RP.review_no
	order by R.review_no desc 
	</select>
	<select id="bookmarklist" parameterType="int" resultType="ReviewListVO"> 
	select
    M.mem_no,
    M.review_no,
    R.like_cnt,
    R.review_report_cnt,
    coalesce(RA.rc, 0) img_cnt,
    coalesce(RP.rcn, 0) reply_cnt
		from 
		(select * from bookmark where mem_no=#{memNo}) M
	left outer join 
	review
	R on M.review_no=R.review_no
	left outer join 
		(select review_no,count(review_no) rc from review_attach group by review_no
	) RA on R.review_no=RA.review_no
	left outer join 
	(select review_no,count(review_no) rcn from reply group by review_no) RP on R.review_no=RP.review_no
	order by M.bookmark_no desc
	</select>
	<select id="likelist" parameterType="int" resultType="ReviewListVO">
	  select
    M.mem_no,
    M.review_no,
    R.like_cnt,
    R.review_report_cnt,
    coalesce(RA.rc, 0) img_cnt,
    coalesce(RP.rcn, 0) reply_cnt
		from 
		(select * from likes where mem_no=#{memNo}) M
	left outer join
	review
	R on M.review_no=R.review_no
	left outer join 
		(select review_no,count(review_no) rc from review_attach group by review_no
	) RA on R.review_no=RA.review_no
	left outer join 
	(select review_no,count(review_no) rcn from reply group by review_no) RP on R.review_no=RP.review_no
	order by M.likes_no desc
	</select>
	<!-- 회원추천 --> 
	<select id="memreklist" parameterType="int" resultType="MemRekVO">
select
    mem_no,
    coalesce(attach_no, 0) attach_no,
    mem_nick,
    mem_level
from (
    select TMP.*, rownum rn from (
        select * from 
    (
    select 
        M.mem_no mem_no,
        PA.attach_no attach_no,
        MM.mem_nick mem_nick,
        MM.mem_login_date mem_login_date,
        RC.rcc review_cnt,
        MM.mem_level
    from( 
        ((select mem_no from mem 
        minus
        select passive_mem_no from follow where active_mem_no=#{memNo})
        minus
        select mem_no from mem where mem_no=#{memNo}
        )) M
        left outer join profile_attach PA on  M.mem_no=PA.mem_no
        left outer join mem MM on M.mem_no=MM.mem_no
        left outer join (select mem_no,count(mem_no)rcc from review group by mem_no
        ) RC on m.mem_no=RC.mem_no)
where review_cnt>=1
order by mem_login_date desc
    )TMP
) where rn between 1 and 3
order by DBMS_RANDOM.RANDOM
			
	</select>
	
	
	<!-- 팔로우 확인 -->
	<select id="followcert" parameterType="FollowCertDto" resultType="followCertVO">
	 select 
    	decode(follow_no, null, 'false', 'true') follow_check
    from 
    	follow 
    where 
    	active_mem_no=#{activeMemNo} and passive_mem_no=#{passiveMemNo}
	</select>
	
	
</mapper>