<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<select id="seq" resultType="int">
		select review_seq.nextval from dual
	</select>
	
	<select id="list" resultType="ReviewDto">
		select * from review order by review_no desc
	</select>
	
	<insert id="insert" parameterType="ReviewDto">
		insert into 
		review(
			review_no, mem_no, review_content, star_score, review_place)
		values(
			#{reviewNo}, #{memNo}, #{reviewContent}, #{starScore}, #{reviewPlace, jdbcType=VARCHAR}
		)
	</insert>
	
	<select id="get" parameterType="int" resultType="ReviewDto">
		select * from review where review_no = #{reviewNo}
	</select>
	
	<update id="edit" parameterType="ReviewDto">
		update review
			set review_content = #{reviewContent}
			where review_no = #{reviewNo}
	</update>
	
	<delete id="delete" parameterType="int">
		delete review where review_no = #{reviewNo}
	</delete>
	
	
	<!-- 리뷰 파일첨부 -->
	<insert id="insertAttach" parameterType="ReviewAttachDto">
		insert into review_attach values(#{attachNo}, #{reviewNo})
	</insert>
	<!-- 리뷰 파일 전체조회 -->
	<select id="findAttach" parameterType="int" resultType="AttachDto">
		select * from review_attach_view
		where review_no = #{reviewNo} order by attach_no asc
	</select>
	<!-- 리뷰 대표파일 조회 -->
	<select id="findAttachRep" parameterType="int" resultType="AttachDto">
		select * from (
			select tmp.*,rownum RN from (
				select * from review_attach_view
				where review_no = #{reviewNo} order by attach_no asc
			)TMP
		)where RN =1
	</select>
	
</mapper>